/*
0 - 750px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 40em) {
    html {
      font-size: 40%; } }

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; }

::selection {
  background-color: #962715;
  color: #fff; }

/*
0 - 750px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .50;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.header {
  height: 100vh; }
  @media only screen and (max-width: 56.25em) {
    .header {
      height: 100vh; } }
  .header__heading {
    font-size: 5rem;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 10%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 1px; }
    @media only screen and (max-width: 75em) {
      .header__heading {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 40em) {
      .header__heading {
        font-size: 3rem; } }
  .header__box {
    position: absolute;
    top: 60%;
    right: 0; }
  .header__logo {
    height: 10rem;
    width: auto;
    position: absolute;
    top: 1rem;
    left: 1rem; }

.btn {
  position: absolute;
  top: 50%;
  left: 10%; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all .2s;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 700;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(30, 30, 32, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(30, 30, 32, 0.2); }
  .btn--white {
    background-color: #962715;
    color: #fff; }
    .btn--white::after {
      background-color: #962715; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }

.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: #1e1e20;
  padding-left: 100%;
  box-sizing: content-box;
  z-index: 100000000000; }
  @media only screen and (max-width: 46em) {
    .ticker-wrap {
      display: none; } }
  .ticker-wrap .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 40s;
    animation-duration: 40s; }
    .ticker-wrap .ticker__item {
      display: inline-block;
      padding: 0 2rem;
      font-size: 2rem;
      color: white; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #962715;
    box-shadow: 0 0 0 0 #962715; }
  70% {
    -moz-box-shadow: 0 0 0 4px #962715;
    box-shadow: 0 0 0 4px #962715; }
  100% {
    -moz-box-shadow: 0 0 0 0 #962715;
    box-shadow: 0 0 0 0 #962715; } }

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible; }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }

.section-first-question {
  background-color: #bbc3c6;
  padding: 10rem 0; }

.section-second-question {
  background-color: #fff;
  padding: 15rem 0; }

.row {
  max-width: 114rem;
  margin: 7rem auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 2rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
    @media only screen and (max-width: 56.25em) {
      .row .col-1-of-3 {
        width: 100%; } }

input[type="submit"] {
  background-color: #1e1e20;
  width: 100%;
  color: white;
  padding: 3.5rem 0;
  font-size: 5rem;
  text-transform: uppercase;
  cursor: pointer; }
  input[type="submit"]:focus, input[type="submit"]:visited {
    outline: none;
    box-shadow: 0.1rem 0.1rem 0 0 #1e1e20; }
  @media only screen and (max-width: 56.25em) {
    input[type="submit"] {
      font-size: 5rem; } }
  @media only screen and (max-width: 40em) {
    input[type="submit"] {
      font-size: 4rem; } }

fieldset {
  border: none; }

h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10rem;
  text-transform: uppercase; }

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 57px;
  padding: 10px 38px 10px 16px;
  background: #962715 url() no-repeat right 16px center;
  background-size: 10px;
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
  border: 1px solid #962715;
  border-radius: 3px;
  font-size: 2rem;
  display: flex;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px; }

.custom-select:hover {
  border: 1px solid #962715; }

.custom-select:focus {
  border: 1px solid #962715;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  outline: none; }

/* remove default arrow in IE */
select::-ms-expand {
  display: none; }

.selection-div {
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 46em) {
    .selection-div {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: -9rem 0; } }

@media only screen and (max-width: 46em) {
  .buttons {
    margin: 6rem 0; } }

.section-options {
  margin: 10rem 0;
  padding: 5rem 0; }
  @media only screen and (max-width: 46em) {
    .section-options {
      margin: 4rem 0; } }

.icon {
  font-size: 2rem;
  color: #962715;
  animation: pulse 2s infinite;
  padding: 1rem 3rem 0;
  background-color: #f4f5f9; }
  @media only screen and (max-width: 46em) {
    .icon {
      display: none; } }

#scroll {
  position: fixed;
  right: 10px;
  bottom: 17%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #962715;
  opacity: .6;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 1000; }
  @media only screen and (max-width: 56.25em) {
    #scroll {
      bottom: 13%; } }
  @media only screen and (max-width: 46em) {
    #scroll {
      bottom: 9%; } }

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff; }

#scroll:hover {
  background-color: #962715;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)"; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.22); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #962715, #EC6A5C); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
    @media only screen and (max-width: 46em) {
      .card:hover .card__side--front {
        transform: rotateY(0); } }
  .card:hover .card__side--back {
    transform: rotateY(0); }
    @media only screen and (max-width: 46em) {
      .card:hover .card__side--back {
        transform: rotateY(180deg); } }
  .card__heading {
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 0;
    right: 5rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(150, 39, 21, 0.85), rgba(236, 106, 92, 0.85)); }
  .card__guide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
    .card__box--heading {
      text-transform: uppercase;
      font-size: 2.8rem;
      letter-spacing: 1px;
      font-weight: 700; }

p {
  padding: 4rem;
  font-size: 1.6rem; }

.card__picture img {
  width: 100%;
  height: 230px; }

.read-more {
  background-color: #fff;
  color: #1e1e20;
  padding: 2rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  height: auto;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  box-shadow: 14px 14px rgba(77, 77, 77, 0.1);
  transition: transform 0.4s, box-shadow 0.4s; }
  .read-more:hover {
    box-shadow: 14px 14px rgba(77, 77, 77, 0.5); }
  .read-more:active {
    transform: translate3d(7px, 7px, 0px);
    box-shadow: 7px 7px rgba(77, 77, 77, 0.5); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @media only screen and (max-width: 46em) {
    .popup {
      display: none; } }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #EC6A5C;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #EC6A5C;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #000;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #962715; }

/*
0 - 750px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
