@import "mixins";
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .50;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.header { 
    height: 100vh;
    @include respond(tab-port) { // width < 900?
        height: 100vh;
    }
       &__heading {
           font-size: 5rem;
           text-transform: uppercase;
           position: absolute;
           top: 30%;
           left: 10%;
           font-family: 'Raleway', sans-serif;
           font-weight: bold;
           letter-spacing: 1px;
           @include respond(tab-land) { // width < 1200?
            font-size: 3.5rem; //1 rem = 9px, 9/16 = 50%
        }
        @include respond(small-phone) { // width < 900?
            font-size: 3rem;
        }
       }
           &__box {
               position: absolute;
               top: 60%;
               right: 0;
           }
      
       &__logo {
           height: 10rem;
           width: auto;
           position: absolute;
           top: 1rem;
           left: 1rem;
       }
}


////////////// Button 

.btn {
    position: absolute;
    top: 50%;
    left: 10%;
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        transition: all .2s;
        font-size: 3rem;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-matte-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-matte-black,.2);
    }
    
    &--white {
        background-color: $color-brick-red;
        color: $color-white;

        &::after {
            background-color: $color-brick-red;
        }
    }
   
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

}



///////////////////////////////// Animation 

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 $color-brick-red;
      box-shadow: 0 0 0 0 $color-brick-red;
    }
    70% {
        -moz-box-shadow: 0 0 0 4px $color-brick-red;
        box-shadow: 0 0 0 4px $color-brick-red;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 $color-brick-red;
        box-shadow: 0 0 0 0 $color-brick-red;
    }
  }


  ////////////////////////////////// sections 

  .section-first-question {
      background-color: $color-medium-grey;
      padding:10rem 0;
  }

  .section-second-question {
      background-color: $color-white;
      padding: 15rem 0;
  }



//////////////////////////////////// grid 
.row {
    max-width: $grid-width;
    margin: 7rem auto;


    &:not(:last-child) {
        margin-bottom: $gutter-vertical;


    }

    @include respond(tab-port) { // width < 900?
        max-width: 50rem;
       
    }

    [class^="col-"] {
        float: left;
      
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: 2rem;
            }
        }
       
    }
    @include clearfix;

    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
        @include respond(tab-port) {
            width: 100%;
        }
     
    }

}


input[type="submit"] {
    background-color: $color-matte-black;
    width: 100%;
    color: white;
    padding: 3.5rem 0;
    font-size: 5rem;
    text-transform: uppercase;
    cursor: pointer;
    &:focus, 
    &:visited {
        outline: none;
        box-shadow: .1rem .1rem 0 0 $color-matte-black; // box shadow for accessibilty 
    }


     @include respond(tab-port) { // width < 900?
        font-size: 5rem;
    }
    @include respond(small-phone) { // width < 900?
        font-size: 4rem;
    }
}



fieldset {
    border: none;
   
}
h3 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10rem;
    text-transform: uppercase;
}



///////////// Selection 
.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 57px;
    padding: 10px 38px 10px 16px;
    background: $color-brick-red url() no-repeat right 16px center;
    background-size: 10px;
    transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
    border: 1px solid $color-brick-red;
    border-radius: 3px;
    font-size: 2rem;
    display: flex;
    cursor: pointer;
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.custom-select:hover {
    border: 1px solid $color-brick-red;
}
.custom-select:focus {
    border: 1px solid  $color-brick-red;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
    outline: none;
}
/* remove default arrow in IE */
select::-ms-expand {
    display:none;
}

.selection-div {
    display: flex;
    justify-content: space-around;
    @include respond(phone) { 
        flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: -9rem 0;
       }
 
}
.buttons {
    @include respond(phone) {
       margin: 10rem 0;
       }
}
.section-options {
   margin: 10rem 0;
   padding: 5rem 0;
  
}
.icon {
    font-size: 2rem;
    color: $color-brick-red;
    animation: pulse 2s infinite;
    padding: 1rem 3rem 0; 
    background-color:  #f4f5f9;
    @include respond(phone) { 
       padding-bottom: 1rem;
       }
    
}



////////////////////////// scroll top 

#scroll {
    position:fixed;
    right:10px;
    bottom: 17%;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: $color-brick-red;
    opacity: .6;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index: 1000;
    @include respond(tab-port) { // width < 900?
        bottom: 13%;
    }
    @include respond(phone) { // width < 900?
        bottom: 9%;
    } 
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color: $color-brick-red;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

//////////////// style jquery 

.last-section {
    background-color: $color-medium-grey;
    color: $color-matte-black;
}
.title {
    font-size: 1rem;
    text-transform: uppercase;

}
.paragraph {
      font-size: 1rem;

}
.last-section img {
    width: 20%;
    height: auto;
}

.section-tours {
    background-color: cyan;
    padding: 25rem 0 15rem 0;
    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.card {

    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    
    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .22);

        &--front {
            background-color: $color-white;

        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-brick-red, #EC6A5C);
            }
        }
    }
  

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }


  

    &__heading {
        font-size: 2.2rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 0;
        right: 5rem;
        width: 75%;
    
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-brick-red, .85), 
            rgba(#EC6A5C, .85));
        }
    }

   

    // FRONT SIDE STYLING
    &__cta {
       position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;

        &--heading {
            text-transform: uppercase;
            font-size: 2.8rem;
            letter-spacing: 1px;
            font-weight: 700;
        }
    }

}
p {
    padding: 4rem;
    font-size: 1.6rem;
}
.card__picture  img {
    width: 100%;
    height: 230px;
}

.read-more {
    background-color: $color-white;
    color: $color-matte-black;
    padding: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    height: auto;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    box-shadow: 14px 14px rgba(77, 77, 77, 0.1);
    transition: transform 0.4s, box-shadow 0.4s;
 &:hover{
    box-shadow: 14px 14px rgba(77, 77, 77, 0.5);
 }
 &:active {
    transform: translate3d(7px, 7px, 0px);
    box-shadow: 7px 7px rgba(77, 77, 77, 0.5);
 }

}


 
 /////////////////////////////////////popup 
 .popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    &__content {
        @include absCenter;

        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
    }

    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem; //1em = 14px;
        -moz-column-rule: 1px solid red;

        column-count: 2;
        column-gap: 4rem; //1em = 14px;
        column-rule: 1px solid red;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    //Open states
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: yellowgreen;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-brick-red;
        }
    }
}